services:
  api:
    build: .
    container_name: yf-api
    env_file:
      - .env
    ports:
      - "8000:8000"
    depends_on:
      - redis
      - db

  redis:
    image: redis:7-alpine
    container_name: yf-redis
    ports:
      - "6379:6379"

  db:
    image: postgres:16-alpine
    container_name: yf-postgres
    environment:
      POSTGRES_DB: yfapi
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data

volumes:
  pg_data:
